# Pregunta 3 | Ejercicio con Spark SQL 
## Integrantes: 
##  Juan Pablo Vergara
##  Pablo Rivera

Utilizando Apache Spark, las librerías de SparkSQL y el dataset SII_roles_avaluo_table.zip.

Escriba 3 nuevas consultas (queries) a la data:

* Debe usar a lo menos un Left Join
* Debe usar a lo menos un GroupBy
* Debe usar un a lo menos Where con dos condiciones
* Debe ordenar sus resultados de manera descendiente

# Instalando Spark y sus pre-requisitos

Spark y sus prerequisitos no están preinstalados en GoogleColab.
Por lo tanto, el primer paso es instalarlos. El principal pre-requisito es java y opcional 
hadoop.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark #esta libreria encuentra spark dentro de Colab y le permite usarlo más adelante

El siguiente paso es definir las variables de entorno

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
!ls #podemos listar los archivos instalables que se descargaron

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

# Configurando la Sesión y lanzando Spark

Podemos comenzar a utilizar spark. Creamos una SparkSession.

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.master("local[2]")\
.appName("Colab")\
.config('spark.driver.memory', '10g')\
.config('spark.ui.port', '4040')\
.getOrCreate()

In [ ]:
""" ejemplo dynamic allocation of executors :
spark.conf.set("spark.dynamicAllocation.enabled", "true")
spark.conf.set("spark.executor.cores", 4)
spark.conf.set("spark.dynamicAllocation.minExecutors","1")
spark.conf.set("spark.dynamicAllocation.maxExecutors","5")
"""

' ejemplo dynamic allocation of executors :\nspark.conf.set("spark.dynamicAllocation.enabled", "true")\nspark.conf.set("spark.executor.cores", 4)\nspark.conf.set("spark.dynamicAllocation.minExecutors","1")\nspark.conf.set("spark.dynamicAllocation.maxExecutors","5")\n'

In [ ]:
spark #hello I'm spark

# Integración de los datos a analizar.

In [ ]:
!wget https://www.dropbox.com/s/ianxkffu14dp0ru/SII_roles_avaluo_table.zip #archivos tabulares grandes aprox 7 millones de filas

--2023-02-15 15:46:41--  https://www.dropbox.com/s/ianxkffu14dp0ru/SII_roles_avaluo_table.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/ianxkffu14dp0ru/SII_roles_avaluo_table.zip [following]
--2023-02-15 15:46:42--  https://www.dropbox.com/s/raw/ianxkffu14dp0ru/SII_roles_avaluo_table.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com/cd/0/inline/B2idtSim1OV7sTJ4w9Io_v031sX008naEIa5-aalX-Y0R1cXu03FEjGYQBRaYAiIu9TfgweTGS9uz8eQlGAFaU6nJSgEddoGlTgHAksHcm8WZsrp599X8W4AqeYq86GhjlO1awk4h5Yx6pfHg51xS966ynen5QuvFc_SkHWob6ioJw/file# [following]
--2023-02-15 15:46:42--  https://uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com/cd/0/inline/B2idtSim1OV7sTJ4w9Io_v031sX008naEIa5-aalX-Y0R1cXu03FEjGYQBRaYAiIu9TfgweTGS9uz8eQlGAFaU6nJSgEddoGlTgHAksHcm8WZsrp599X8W4AqeYq86GhjlO1awk4h5Yx6pfHg51xS966ynen5QuvFc_SkHWob6ioJw/file
Resolving uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com (uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com (uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/B2gjazMjDrYAWlXwrAIICSHeJHnx8IXSSPTI9PBzFMoyMN-MxvDNN_s1DTqNXy1YpyRJysLQ7SdVTw6C5c-_3XYVlZlxJ7L3yxbbMQvKQuxe6PUNIYTVeZ4nr_r3eFgw0aLw7YW6U7bnIQd9AlbQzWWONNX0j3bhqhbqDohWKiC3QcFHUwqHoppXkJ_L5TIev9Sajm9ljTj9XHzRr5n72INJBb4lyAXTT-UVJu_YrkY9kp7NWgts9S_-VwHxQ87lSlj05yBU-gSsIq33ciGHXemGjQQQDDnlMPJxVdu5tZXVb4r0RVDzIFrfp9d9Q2EKP5eN41eF1e68_QJkHvSiKPnc9BieKEeEDz4xRnImY1B0e9RFZpomTyw4RuD9L9Y8Iml34TM-J4-NlgVqp_Yus_FJtdqCBbFx_Eyj0O5TwX6dCg/file [following]
--2023-02-15 15:46:43--  https://uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com/cd/0/inline2/B2gjazMjDrYAWlXwrAIICSHeJHnx8IXSSPTI9PBzFMoyMN-MxvDNN_s1DTqNXy1YpyRJysLQ7SdVTw6C5c-_3XYVlZlxJ7L3yxbbMQvKQuxe6PUNIYTVeZ4nr_r3eFgw0aLw7YW6U7bnIQd9AlbQzWWONNX0j3bhqhbqDohWKiC3QcFHUwqHoppXkJ_L5TIev9Sajm9ljTj9XHzRr5n72INJBb4lyAXTT-UVJu_YrkY9kp7NWgts9S_-VwHxQ87lSlj05yBU-gSsIq33ciGHXemGjQQQDDnlMPJxVdu5tZXVb4r0RVDzIFrfp9d9Q2EKP5eN41eF1e68_QJkHvSiKPnc9BieKEeEDz4xRnImY1B0e9RFZpomTyw4RuD9L9Y8Iml34TM-J4-NlgVqp_Yus_FJtdqCBbFx_Eyj0O5TwX6dCg/file
Reusing existing connection to uc8a90913d858340aa10bbeef9e1.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 201075932 (192M) [application/zip]
Saving to: ‘SII_roles_avaluo_table.zip’

SII_roles_avaluo_ta 100%[===================>] 191.76M  37.2MB/s    in 5.2s

2023-02-15 15:46:48 (37.2 MB/s) - ‘SII_roles_avaluo_table.zip’ saved [201075932/201075932]

In [ ]:
!unzip -o SII_roles_avaluo_table.zip

Archive:  SII_roles_avaluo_table.zip
  inflating: terreno_constr_no_agri.csv
  inflating: rol_agricola.csv
  inflating: rol_no_agricola.csv
  inflating: cod_comunas.csv

In [ ]:
!ls

cod_comunas.csv      sample_data		 spark-3.1.1-bin-hadoop3.2.tgz
rol_agricola.csv     SII_roles_avaluo_table.zip  terreno_constr_no_agri.csv
rol_no_agricola.csv  spark-3.1.1-bin-hadoop3.2

# Reconocimiento de tablas y datos

Como primer paso, vamos a leer los datos de cada csv que los trataremos como tablas independientes, luego mostraremos las columnas de cada tabla.

In [ ]:
# Tabla agricola_sql
agricola_sp = spark.read.csv("rol_agricola.csv",header=True, inferSchema=True)
agricola_sp.printSchema() #veamos el esquema de la tabla que se ha creado

agricola_sp.show()
agricola_sp.createOrReplaceTempView("agricola_sql")

root
 |-- _c0: integer (nullable = true)
 |-- cod_comuna: integer (nullable = true)
 |-- nr_manzana: integer (nullable = true)
 |-- nr_predial: integer (nullable = true)
 |-- dir/nomb_predio: string (nullable = true)
 |-- avaluo_fisc_tot: long (nullable = true)
 |-- contri_semestral: integer (nullable = true)
 |-- cod_dest_princ: string (nullable = true)
 |-- avaluo_exen_prop: long (nullable = true)

+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+
|_c0|cod_comuna|nr_manzana|nr_predial|     dir/nomb_predio|avaluo_fisc_tot|contri_semestral|cod_dest_princ|avaluo_exen_prop|
+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+
|  0|      1101|       675|         6|LINEA FFCC TAC   ...|       14175739|               0|             A|        14175739|
|  1|      1101|       675|        10|SANTA ROSA       ...|     1109356342|         2786914|             A|        24954042|
|  2|      1101|       676|         6|CHINCHORRO       ...|      130704724|          271780|             A|        24954042|
|  3|      1101|      1001|         6|CERROS LLUTA LTD ...|      345514803|          823842|             B|        24954042|
|  4|      1101|      1001|        39|QUEBRADA ENCANTAD...|         164694|               0|             A|          164694|
|  5|      1101|      1001|        45|PAMPA SASCAPA PL ...|       12737275|               0|             A|        12737275|
|  6|      1101|      2412|       243|ALTO RAMIREZ PL 1...|        3341665|               0|             A|         3341665|
|  7|      1101|      3000|         1|STA ROSA HJ 1 Y 2...|      163107502|          355054|             A|        24954042|
|  8|      1101|      3000|         2|ALTILLO          ...|      240514904|          553992|             A|        24954042|
|  9|      1101|      3000|         3|PARC STA ANGELA K...|      206051786|          465422|             A|        24954042|
| 10|      1101|      3000|         4|SAN ANTONIO KM 33...|      419737507|         1014594|             A|        24954042|
| 11|      1101|      3000|         5|SACRISTIA KM 31 V...|      119986898|          244234|             A|        24954042|
| 12|      1101|      3000|         7|PC.SAN JUAN LT 1 ...|      112923438|          226082|             A|        24954042|
| 13|      1101|      3000|         8|ROSARIO VIEJO VAL...|      319645803|          757358|             A|        24954042|
| 14|      1101|      3000|         9|TRES HERMANOS KM ...|       97842656|          187324|             A|        24954042|
| 15|      1101|      3000|        10|LA OLGA KM 20 V L...|      275946834|          645052|             A|        24954042|
| 16|      1101|      3000|        11|PAMPA GALLINAZ   ...|        5751758|               0|             A|         5751758|
| 17|      1101|      3000|        12|CAMPOS FISCALE   ...|        5634375|               0|             A|         5634375|
| 18|      1101|      3000|        13|LOTE C           ...|        5869141|               0|             A|         5869141|
| 19|      1101|      3000|        14|CENTRO IRRADIACIO...|      225262550|               0|             B|       225262550|
+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+
only showing top 20 rows

In [ ]:
# Tabla no_agricola_sql
no_agricola_sp = spark.read.csv("rol_no_agricola.csv",header=True, inferSchema=True)
no_agricola_sp.printSchema() #veamos el esquema de la tabla que se ha creado

no_agricola_sp.show()
no_agricola_sp.createOrReplaceTempView("noagricola_sql")

root
 |-- _c0: integer (nullable = true)
 |-- cod_comuna: integer (nullable = true)
 |-- nr_manzana: integer (nullable = true)
 |-- nr_predial: integer (nullable = true)
 |-- dir/nomb_predio: string (nullable = true)
 |-- avaluo_fisc_tot: long (nullable = true)
 |-- contri_semestral: integer (nullable = true)
 |-- cod_dest_princ: string (nullable = true)
 |-- avaluo_exen_prop: long (nullable = true)
 |-- cod_comuna_rol_bien_comun_1: integer (nullable = true)
 |-- nro_manzana_rol_bien_comun_1: integer (nullable = true)
 |-- nr_predio_rol_bien_comun_1: integer (nullable = true)
 |-- cod_comuna_rol_bien_comun_2: integer (nullable = true)
 |-- nro_manzana_rol_bien_comun_2: integer (nullable = true)
 |-- nr_predio_rol_bien_comun_2: integer (nullable = true)
 |-- sup_total_terreno_prod_m2: integer (nullable = true)

+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+---------------------------+----------------------------+--------------------------+---------------------------+----------------------------+--------------------------+-------------------------+
|_c0|cod_comuna|nr_manzana|nr_predial|     dir/nomb_predio|avaluo_fisc_tot|contri_semestral|cod_dest_princ|avaluo_exen_prop|cod_comuna_rol_bien_comun_1|nro_manzana_rol_bien_comun_1|nr_predio_rol_bien_comun_1|cod_comuna_rol_bien_comun_2|nro_manzana_rol_bien_comun_2|nr_predio_rol_bien_comun_2|sup_total_terreno_prod_m2|
+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+---------------------------+----------------------------+--------------------------+---------------------------+----------------------------+--------------------------+-------------------------+
|  0|      1101|         1|         4|M LIRA 315       ...|      190292739|               0|             O|       190292739|                          0|                           0|                         0|                          0|                           0|                         0|                      926|
|  1|      1101|         1|         5|M LIRA 315       ...|       84409669|               0|             O|        84409669|                          0|                           0|                         0|                          0|                           0|                         0|                      566|
|  2|      1101|         1|         6|M LIRA 315       ...|       24175492|               0|             O|        24175492|                          0|                           0|                         0|                          0|                           0|                         0|                      126|
|  3|      1101|         1|         8|M LIRA S/N TERMIN...|     1163710026|         6476048|             C|               0|                          0|                           0|                         0|                          0|                           0|                         0|                     8025|
|  4|      1101|         1|        10|MAXIMO LIRA 389  ...|      466902419|         2598314|             O|               0|                          0|                           0|                         0|                          0|                           0|                         0|                     1588|
|  5|      1101|         1|        12|TERMINAL PESQUERO...|       35133104|               0|             C|        35133104|                          0|                           0|                         0|                          0|                           0|                         0|                      211|
|  6|      1101|         1|        13|M LIRA S/N EXPL T...|       26082561|          145150|             C|               0|                          0|                           0|                         0|                          0|                           0|                         0|                      157|
|  7|      1101|         1|        15|MUELLE PESQUER   ...|       22332610|          124282|             C|               0|                          0|                           0|                         0|                          0|                           0|                         0|                      130|
|  8|      1101|         1|        17|M LIRA S/N EXPL T...|       14080594|           98994|             V|               0|                          0|                           0|                         0|                          0|                           0|                         0|                      101|
|  9|      1101|         1|        18|M LIRA S/N CONCES...|     2860381387|        15938660|             V|               0|                          0|                           0|                         0|                          0|                           0|                         0|                    10747|
| 10|      1101|         1|        19|M.LIRA S/N ARRIEN...|       92898700|          516982|             L|               0|                          0|                           0|                         0|                          0|                           0|                         0|                      800|
| 11|      1101|         1|        20|M.LIRA S/N MUELLE...|    12109724064|        67390616|             T|               0|                          0|                           0|                         0|                          0|                           0|                         0|                    74873|
| 12|      1101|         1|        21|M LIRA S/N CONCES...|    32080750604|       178529378|             T|               0|                          0|                           0|                         0|                          0|                           0|                         0|                   211195|
| 13|      1101|         1|        22|M LIRA S/N MUELLE...|     3175628478|        17672374|             T|               0|                          0|                           0|                         0|                          0|                           0|                         0|                    24006|
| 14|      1101|         1|        23|M LIRA S/N EXPL T...|       23654089|               0|             W|        23654089|                          0|                           0|                         0|                          0|                           0|                         0|                      224|
| 15|      1101|         2|         3|CDTE SAN MARTIN 1...|     2997192850|               0|             O|      2997192850|                       1101|                           2|                     90003|                          0|                           0|                         0|                        0|
| 16|      1101|         2|         4|CDTE SAN MARTIN 1...|      294281580|               0|             O|       294281580|                       1101|                           2|                     90003|                          0|                           0|                         0|                        0|
| 17|      1101|         2|         5|CDTE SAN MARTIN 1...|      294281580|         1637678|             O|               0|                       1101|                           2|                     90003|                          0|                           0|                         0|                        0|
| 18|      1101|         2|         6|CDTE SAN MARTIN 1...|      294281580|               0|             O|       294281580|                       1101|                           2|                     90003|                          0|                           0|                         0|                        0|
| 19|      1101|         2|         7|CDTE SAN MARTIN 1...|      294281580|               0|             O|       294281580|                       1101|                           2|                     90003|                          0|                           0|                         0|                        0|
+---+----------+----------+----------+--------------------+---------------+----------------+--------------+----------------+---------------------------+----------------------------+--------------------------+---------------------------+----------------------------+--------------------------+-------------------------+
only showing top 20 rows

In [ ]:
# Tabla comunas_sql
comunas_sp = spark.read.csv("cod_comunas.csv",header=True, inferSchema=True)
comunas_sp.printSchema() #veamos el esquema de la tabla que se ha creado

comunas_sp.show()
comunas_sp.createOrReplaceTempView("comunas_sql")

root
 |-- comunaID: integer (nullable = true)
 |-- region: string (nullable = true)
 |-- comuna: string (nullable = true)
 |-- n_region: string (nullable = true)
 |-- name_region: string (nullable = true)

+--------+--------------------+--------------------+--------+--------------------+
|comunaID|              region|              comuna|n_region|         name_region|
+--------+--------------------+--------------------+--------+--------------------+
|    1101| 18_DIRECCION_REG...|               ARICA|      18| Regi�n de Arica ...|
|    1106| 18_DIRECCION_REG...|           CAMARONES|      18| Regi�n de Arica ...|
|    1302| 18_DIRECCION_REG...|       GENERAL LAGOS|      18| Regi�n de Arica ...|
|    1301| 18_DIRECCION_REG...|               PUTRE|      18| Regi�n de Arica ...|
|    1211| 1_DIRECCION_REGI...|       ALTO HOSPICIO|       1|  Regi�n de Tarapac�|
|    1208| 1_DIRECCION_REGI...|              CAMI�A|       1|  Regi�n de Tarapac�|
|    1210| 1_DIRECCION_REGI...|            COLCHANE|       1|  Regi�n de Tarapac�|
|    1206| 1_DIRECCION_REGI...|               HUARA|       1|  Regi�n de Tarapac�|
|    1201| 1_DIRECCION_REGI...|             IQUIQUE|       1|  Regi�n de Tarapac�|
|    1203| 1_DIRECCION_REGI...|                PICA|       1|  Regi�n de Tarapac�|
|    1204| 1_DIRECCION_REGI...|        POZO ALMONTE|       1|  Regi�n de Tarapac�|
|    2201| 2_DIRECCION_REGI...|         ANTOFAGASTA|       2| Regi�n de Antofa...|
|    2301| 2_DIRECCION_REGI...|              CALAMA|       2| Regi�n de Antofa...|
|    2103| 2_DIRECCION_REGI...|         MAR�A ELENA|       2| Regi�n de Antofa...|
|    2203| 2_DIRECCION_REGI...|          MEJILLONES|       2| Regi�n de Antofa...|
|    2302| 2_DIRECCION_REGI...|             OLLAG�E|       2| Regi�n de Antofa...|
|    2303| 2_DIRECCION_REGI...| SAN PEDRO DE ATA...|       2| Regi�n de Antofa...|
|    2206| 2_DIRECCION_REGI...|        SIERRA GORDA|       2| Regi�n de Antofa...|
|    2202| 2_DIRECCION_REGI...|              TALTAL|       2| Regi�n de Antofa...|
|    2101| 2_DIRECCION_REGI...|           TOCOPILLA|       2| Regi�n de Antofa...|
+--------+--------------------+--------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
# Tabla terreno_sql
terrenos_sp = spark.read.csv("terreno_constr_no_agri.csv",header=True, inferSchema=True)
terrenos_sp.printSchema() #veamos el esquema de la tabla que se ha creado

terrenos_sp.show()
terrenos_sp.createOrReplaceTempView("terreno_sql")

root
 |-- _c0: integer (nullable = true)
 |-- cod_comuna: integer (nullable = true)
 |-- nr_manzana: integer (nullable = true)
 |-- nr_predial: integer (nullable = true)
 |-- corr_lin_prod: integer (nullable = true)
 |-- cod_material_estruc_const: string (nullable = true)
 |-- cod_calidad_linea_const: integer (nullable = true)
 |-- anio_linea_constr: integer (nullable = true)
 |-- sup_linea_constr_m2/m3: integer (nullable = true)
 |-- cod_dest_linea_constr: string (nullable = true)
 |-- cod_cond_especial_linea_constr: string (nullable = true)

+---+----------+----------+----------+-------------+-------------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+
|_c0|cod_comuna|nr_manzana|nr_predial|corr_lin_prod|cod_material_estruc_const|cod_calidad_linea_const|anio_linea_constr|sup_linea_constr_m2/m3|cod_dest_linea_constr|cod_cond_especial_linea_constr|
+---+----------+----------+----------+-------------+-------------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+
|  0|      1101|         1|         4|            1|                       B |                      4|             1925|                   631|                    O|                          null|
|  1|      1101|         1|         4|            2|                       E |                      3|             1925|                   201|                    O|                          null|
|  2|      1101|         1|         4|            3|                       C |                      3|             1925|                    91|                    O|                          null|
|  3|      1101|         1|         5|            1|                       B |                      4|             1925|                   213|                    O|                          null|
|  4|      1101|         1|         5|            2|                       GB|                      2|             1925|                    13|                    V|                          null|
|  5|      1101|         1|         6|            1|                       B |                      4|             1925|                    69|                    O|                          null|
|  6|      1101|         1|         6|            2|                       E |                      3|             1925|                    57|                    O|                          null|
|  7|      1101|         1|         8|            1|                       C |                      3|             1973|                   255|                    C|                          null|
|  8|      1101|         1|         8|            2|                       C |                      4|             1973|                   252|                    L|                          null|
|  9|      1101|         1|         8|            3|                       GA|                      3|             1973|                   128|                    L|                          null|
| 10|      1101|         1|         8|            4|                       C |                      4|             1973|                   402|                    O|                          null|
| 11|      1101|         1|         8|            5|                       C |                      4|             1973|                   158|                    L|                          null|
| 12|      1101|         1|         8|            6|                       E |                      4|             1973|                    81|                    C|                          null|
| 13|      1101|         1|         8|            7|                       E |                      5|             1973|                   121|                    L|                          null|
| 14|      1101|         1|         8|            8|                       GA|                      2|             1973|                   300|                    I|                          null|
| 15|      1101|         1|         8|            9|                       GA|                      2|             1973|                   360|                    V|                          null|
| 16|      1101|         1|         8|           10|                       C |                      5|             1973|                   454|                    V|                          null|
| 17|      1101|         1|         8|           11|                       GE|                      3|             1973|                   281|                    C|                          null|
| 18|      1101|         1|        10|            1|                       B |                      3|             1990|                    83|                    O|                            SC|
| 19|      1101|         1|        10|            2|                       B |                      3|             1990|                    46|                    O|                            CA|
+---+----------+----------+----------+-------------+-------------------------+-----------------------+-----------------+----------------------+---------------------+------------------------------+
only showing top 20 rows

# Consultas generadas

### Query 1

Obtendremos el máximo avalúo fiscal de las propiedades agricolas de las regiones de Valparaíso y de los Ríos, ordenados de mayor a menor.

In [ ]:
query_1="""
SELECT 
  c.name_region AS nombre_region, 
  MAX(a.avaluo_fisc_tot) AS valor_max_fiscal
FROM agricola_sql AS a
  LEFT JOIN comunas_sql AS c ON a.cod_comuna = c.comunaID
WHERE c.n_region = 17
   OR c.n_region = 5
GROUP BY c.name_region
ORDER BY valor_max_fiscal DESC

"""

query_sql1=spark.sql(query_1)
query_sql1.show()

+--------------------+----------------+
|       nombre_region|valor_max_fiscal|
+--------------------+----------------+
|  Regi�n de Los R�os|     28942461532|
| Regi�n de Valpar...|     14865968481|
+--------------------+----------------+

### Query 2

Obtendremos el avalúo fiscal promedio para las propiedades no agricolas por todas las comunas de Valparaíso.

In [ ]:
query_2="""
SELECT 
  c.comuna AS nombre_comuna, 
  AVG(a.avaluo_fisc_tot) AS valor_avg_fiscal
FROM noagricola_sql AS a
  LEFT JOIN comunas_sql AS c ON a.cod_comuna = c.comunaID
WHERE c.n_region = 5
GROUP BY c.comuna
ORDER BY valor_avg_fiscal DESC
"""

query_sql2=spark.sql(query_2)
query_sql2.show()

+---------------+--------------------+
|  nombre_comuna|    valor_avg_fiscal|
+---------------+--------------------+
|       ZAPALLAR|1.6468354831192562E8|
|  SANTO DOMINGO| 8.036304113064304E7|
| ISLA DE PASCUA|      7.9368098175E7|
|     PUCHUNCAV�| 5.639852307104892E7|
|         CONC�N| 5.468029806377962E7|
|   VI�A DEL MAR|  5.32577612924935E7|
|         PAPUDO| 4.913730374606885E7|
|      ALGARROBO|  4.89688780155883E7|
|     VALPARAISO| 3.949938266179606E7|
|          OLMU�| 3.844622561605317E7|
|     CASABLANCA| 3.827257955724271E7|
|      LOS ANDES|   3.7598997405214E7|
|      RINCONADA| 3.697357294415095E7|
|    SAN ANTONIO| 3.373619155301603E7|
|        QUILPU�|3.2612330935272418E7|
|     SAN FELIPE|3.0288800075232662E7|
|        LA CRUZ| 3.013827066226461E7|
|  VILLA ALEMANA| 2.883784316905096E7|
|        LIMACHE|2.8364474881618354E7|
|       QUILLOTA| 2.746447713090997E7|
+---------------+--------------------+
only showing top 20 rows

### Query 3

Obtendremos la cantidad de propiedades agricolas por comuna y promedio de avalúo fiscal de propiedades que superen los 100 millones.

In [ ]:
query_3="""
SELECT 
  c.comuna AS nombre_comuna, 
  COUNT(a.*) AS cant_propiedades,
  AVG(a.avaluo_fisc_tot) AS valor_avg_fiscal
FROM agricola_sql AS a
  LEFT JOIN comunas_sql AS c ON a.cod_comuna = c.comunaID
WHERE a.avaluo_fisc_tot >= 100000000
GROUP BY c.comuna
ORDER BY cant_propiedades DESC
"""

query_sql3=spark.sql(query_3)
query_sql3.show()

+-------------+----------------+--------------------+
|nombre_comuna|cant_propiedades|    valor_avg_fiscal|
+-------------+----------------+--------------------+
|    MELIPILLA|            1318|2.7628026003945374E8|
|        PAINE|            1087|2.3199953353817847E8|
|  LOS ANGELES|             986| 2.686425014046653E8|
|    R�O BUENO|             936| 3.292889885106838E8|
| SAN CLEMENTE|             899| 2.443680459432703E8|
|  CHIMBARONGO|             865|2.1550263100462428E8|
|     VICTORIA|             795|2.9668297140503144E8|
|         BUIN|             778|2.7734190516195375E8|
|       OSORNO|             768| 3.209967003463542E8|
|      MULCH�N|             762| 3.903994546614173E8|
|    PURRANQUE|             716| 3.399793402709497E8|
|     LA UNI�N|             713|  3.39343240657784E8|
|    R�O NEGRO|             692| 3.129422919768786E8|
|         TENO|             687|2.0771811758224162E8|
|       VILC�N|             626| 2.903171045942492E8|
|   SAN CARLOS|             580|2.4823583777931035E8|
|      PUYEHUE|             544|3.1330847569485295E8|
|   COLLIPULLI|             518|4.1119453374903476E8|
|       CURIC�|             516|2.5183065709496123E8|
|     COIHUECO|             514| 3.712285644844358E8|
+-------------+----------------+--------------------+
only showing top 20 rows